*{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 22px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  margin:0;
  padding: 0;

 
  
}

.buttons{
  top: -380px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  right:18px;
  
  
}
.image2{
  height: 300px;
  width:300px;
  
}
.image1{
  height: 250px; 
  width:300px;
  
}
.image3{
  height: 250px; 
  width:auto;

}
.image4{
  height: 250px; 
  width:300px;

}
.vv{
  position: relative;
  z-index: 0;
  width: 1344px;

  left:-16px;
  
}
.num1{
  width:300px;
  height: 300px;
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  padding: 10px;
  margin-top: 50px;
  margin-left: 10px;
 
  
}
.ll{
  font-family: Arial,sans-serif;
  line-height: 27.3px!important;
  color: #0F1111!important;
  font-weight: 700;
  cursor: pointer;
}
