<img class ="vv"src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_45M_v2_2x._CB432458382_.jpg">
<div class="buttons">

  <div class="num1">
    <a class="ll" [routerLink]="['/list', 1]">Phones</a>
    <img class="image1"src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2019/July/amazonbasics_260x260._SY608_CB442725065_.jpg">
  </div>
  <div class="num1">
    <a class="ll"  [routerLink]="['/list', 2]">Laptops</a>
     <img class="image2"src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_PC_2x._SY608_CB431800964_.jpg">
  </div>
  <div class="num1">
    <a  class="ll"  [routerLink]="['/list', 3]">Watches</a>
     <img class="image3"src="https://m.media-amazon.com/images/I/71JtUMDeBBL._AC_SX679_.jpg">
    
  </div>
  <div class="num1">
    <a class="ll"  [routerLink]="['/list', 4]">Others</a>
    <img class="image4"src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2020/PrimeDay/Fuji_Dash_PD_Nonprime__2x._SY608_CB403084762_.jpg
    ">
  </div>
</div>